<p-panel header="Danh sách thống kê sản phẩm theo đơn">
  <!--Filter (search panel)-->
  <div class="grid">
    <div class="col-4">
      <!-- <button
        pButton
        type="button"
        (click)="showAddModal()"
        icon="fa fa-plus"
        iconPos="left"
        label="Thêm"
      ></button>
      <button
        pButton
        type="button"
        (click)="showEditModal()"
        *ngIf="selectedItems.length == 1"
        class="ml-1 p-button-help"
        icon="fa fa-minus"
        iconPos="left"
        label="Sửa"
      ></button> -->
      <!-- <button
      pButton
      type="button"
      (click)="deleteItems()"
      *ngIf="selectedItems.length > 0"
      class="ml-1 p-button-danger"
      icon="fa fa-minus"
      iconPos="left"
      label="xóa"
    ></button> -->
    </div>
    <div class="col-8">
      <div class="formgroup-inline">
        <div class="field">
          <label for="txt-keyword" class="p-sr-only">Từ khóa</label>
          <input [(ngModel)]="keyword" id="txt-keyword" pInputText type="text" placeholder="Gõ từ khóa" />
        </div>
        <button
          type="button"
          pButton
          (click)="loadData()"
          icon="fa fa-search"
          iconPos="left"
          label="Tìm"
        ></button>
        <div style="margin-left: 16px;">
          <button
          pButton
          type="button"
          (click)="resetForm()"
          icon="fa fa-refresh"
          iconPos="left"
          label="Reset"
        ></button>
        </div>
       
      </div>
    </div>
  </div>
  <div class="summary" style="margin-bottom: 20px;">
    <h2>Thông Tin Tổng Quát</h2>
    <p><b>Tổng số lượng đã được đặt: {{ totalQuantitySold | number }}</b></p>
    <p><b>Tổng tiền thu được: {{ totalRevenue | number:'1.0-0' }}</b></p>
  </div>
  <!--Table-->
  <p-table #pnl [value]="items" selectionMode="multiple">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10px">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Tên sản phẩm</th>
        <th>Tên nhà sản xuất</th>
        <th>Hình Ảnh</th>
        <th>Số lượng bán</th>
        <th>Tổng tiền</th>

        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr [pSelectableRow]="row">
        <td style="width: 10px">
          <span class="ui-column-title"></span>
          <p-tableCheckbox [value]="row"></p-tableCheckbox>
        </td>
        <td>{{ row.productName }}</td>
        <td>{{ row.manufacturerName}}</td>
        <td>
          <p-image [src]="row.safeThumbnailUrl" [alt]="row.thumbnailPicture" width="100" ></p-image>
        </td>
        <td>{{ row.quantitySold}}</td>
        <td>{{ row.totalRevenue | number: '1.0-0'}}</td>
        
       
        
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="text-align: left">Tổng số bản ghi: {{ totalCount | number }}</div>
    </ng-template>
  </p-table>
  <!--Paginator-->
  <p-paginator
    [rows]="maxResultCount"
    [totalRecords]="totalCount"
    (onPageChange)="pageChanged($event)"
    [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
  ></p-paginator>
  <!--Block UI-->
  <p-blockUI [blocked]="blockedPanel">
    <p-progressSpinner></p-progressSpinner>
  </p-blockUI>
</p-panel>



